<div class="bg-white px-4">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
  </div>
  <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:flex lg:justify-between lg:px-8">
    <div class="max-w-xl">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">Search Results</h2>
      <% if @search_query %>
        <p class="mt-5 text-xl text-gray-500">Showing results for <%= @search_query %></p>
      <% end %>
    </div>
  </div>
  <div class="mx-auto max-w-2xl py-4 px-4 sm:py-12 sm:px-6 lg:max-w-7xl lg:px-8">
    <h2 class="sr-only">Search Results: </h2>
    <div class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8">
      <% @resources.each do |resource| %>
        <%= render 'shared/resource_grid_item', resource: resource%>
      <% end %>
    </div>
  </div>
</div>
